
.card {
    background-color: #2c2c2c;
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* height: 550px;  */
    box-shadow: 0 8px 9px -8px lightblue;

  }
  
  .cardImgTop {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* height: 50% !important; */
  }
  
  .cardBody {
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .cardTitle {
    font-size: 1.2rem;
    font-weight: bold;
    max-height: 26px;
    overflow: hidden;
  }
  
  .cardText {
    font-size: 1rem;
  }
  
  .btn {
    background-color: #f39c12;
    border: none;
  }
  /*  */
  .Myul {
    padding-left: 5px;
    /* list-style-type: none; */
    padding: 0;
    text-align: left;
  }
  
  .Myli {
    
    margin: 0.5rem 0;
  }
  
  .link {
    color: #9d8a1d;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  .link:hover {
    color: #ffd700;
  }